/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* reset css */

/* config default content */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    background: #aeb9eb;
}
/* config default content */

/* style for wrapper */
.header {
    background-color: #26242B;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper_menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul {
    display: flex;
}
/* style for wrapper */

/* style detail image */
.logo {
    margin-left: auto;
    order: 3;
}

.logo a {
    display: block;
    width: 60px;
}

.logo a img {
    max-width: 100%;
    border-radius: 50%;
    display: block;
}
/* style detail image */

/* style detail menu */
ul {
    order: 1;
}

ul li a {
    display: inline-block;
    padding: 15px 10px;

    color: #fff;
    transition: all .5s;

}

ul li a:hover {
    color: red;
}
/* style detail menu */

/* style detail register */
.register {
    padding: 10px 25px;
    color: inherit;
    background: rgb(255, 0, 0, 1);
    border-radius: 50px;
    transition: all .6s;
    margin-left: 15px;

    order: 2;
}

.register:hover {
    background: rgb(255, 0, 0, .6);
}
/* style detail register */
